<div id="about-wrapper"style="clear: both; position: fixed; bottom: 0px; left: 0px; height: 50px; width: 100%; background: #999; color: white; font-size: 12px; font-family: tahoma; text-align: center">
	<div id="about"> About us </div>
</div>