<div id="top-navigation" style="position: fixed; left: 0px; top: 0px; width: 100%; height: 40px; background: #888; color: white; font-size: 12px; font-family: tahoma; text-align: right;">
	<div style='margin-right: 5px; margin-top: 5px'>
<% if current_user %>
	<%= gravatar_image_tag(current_user.email, :alt => current_user.name, :gravatar => {:size => 30})%>
	<%= link_to "Sign Out", signout_path %>
<% else %>
	<%= link_to 'login with Twitter', '/auth/twitter' %>
<% end %>
	</div>
</div>